.meetingsApp {
  max-width: 500px;
  border: 1px solid black;
  min-height: 600px;
 position: relative;
}
.container{
 position: relative;
}
.detialsContiner div{
  height: 5rem;
  width: 100%;
  text-align: center;
  border-bottom: black 1px solid;
}
.center{
  margin: auto;
}
.left{
  margin-left: 0;
}
.btnLeft{
 text-decoration: none;
 width:auto;
 padding:15px;
 background-color: #3f51b5;
 color: white;
 position: relative;
 top:30px;
 margin-left: 10px;
 border: none;
}
.meetingsPage{
   margin:15px;
}
.label{
  display: inline-block;
  width:150px;
}
.formControlContainer{
  margin:10px;
}
.bar {
  width: 100%;
  text-align: center;
}
.selectBox{
  padding: 4px;
    font-size: 15px;
    font-weight: 400;
}
.datePicker{
   font-size: 16px;
}
.listItem:hover{
  cursor: pointer;
  background-color: #f8f8f8;
}